cat > .gitignore << 'EOF'
__pycache__/
*.pyc
*.pyo
*.pyd

outputs/

*.csv
*.ipynb_checkpoints/
*.pth

checkpoints/
data/

EOF

# allow model checkpoints tracked via Git LFS
!checkpoints/
!checkpoints/*.pth
\!checkpoints_hns_proposed/*.pth
